<div class="footer text-center text-white align-content-stretch">
  <p><strong>3FE 3LE {{year}}</strong></p>
  <div class="row justify-content-around" >
    <div class="fb-like" data-href="https://www.facebook.com/3FE3LE" data-width="350" data-layout="box_count"
      data-action="like" data-size="small" data-share="true"></div>
    <div class="g-ytsubscribe" data-channelid="UCwn45BHeO1qu7PSHqM3H7SQ" ></div>
    <a href="https://twitter.com/3FE3LE?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @3FE3LE</a>
  </div>
</div>
