.navbar{
  background: linear-gradient(to right, #000 30px, #fff 0% , #fff ) !important;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.37) !important;
}
.nav-items{
  margin-left: 30px;
}
img{
  max-height: 36px; 
  max-width: 36px;
  margin-left: -4px;
}