<nav class="navbar navbar-expand-sm navbar-light">
  <a  class="navbar-brand" href="#">
    <img style="max-height: 40px; max-width: 40px;" src="../../../../assets/img/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav-items collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerlinkactive="active">
        <a class="nav-link " [routerLink]="['home']">Home </a>
      </li>
      <li class="nav-item" routerlinkactive="active">
        <a class="nav-link " [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item" routerlinkactive="active">
        <a class="nav-link " [routerLink]="['shop']">Shop</a>
      </li>
      <li class="nav-item" routerlinkactive="active">
        <a class="nav-link " [routerLink]="['videos']">Videos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-sm-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>