<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container animated fadeIn">
    <h1 class="display-4">Bienvenidos a <strong>3FE 3LE</strong></h1>
    <p class="lead">Llevo años en la busca de un contenido fresco, personajes que en algun momento inspiraban y te hacian llegar un mensaje,
      con el tiempo se han ido.
      <br>
      <br>
      
      Ahora es mi turno....</p>
  </div>
  <div class="posts">
    
  <app-post></app-post>
  </div>
  
  <!-- <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-6689342217571162">
</amp-auto-ads> -->
</div>