app-header{
  font-family: 'Open Sans', sans-serif;
}
app-footer{
  font-family: 'Open Sans', sans-serif;
}
app-body{
  font-family: 'Courier Prime', monospace;
  min-height: 900px;
  display: inline-block !important; 
  padding-left:30px; 
  width: 100%;
}